.taskbar {
    border: 2px solid ;
    border-color: black;
    width: 99vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    float: center;
    margin: 20px;
}

.bg-secondary:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
