/* Hover effect for divs */
.bg-secondary:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* Fade in effect when page loaded */
body {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

body.loaded {
    opacity: 1;
}