@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover {
    background: #fff;
    color: #2b1055;
}

section.home {
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* Adjust the height as needed */
}

#header-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.65);
}

#text {
    position: absolute;
    color: #fff;
    font-size: 4vw;
    z-index: 9;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    white-space: nowrap;
    width: 30ch;
    animation: typing 100ms steps(100, end);
}

/* Typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 30ch
    }
}

/* Google Translate Element */
#google_translate_element {
    position: fixed;
    bottom: 1%;
    left: 0.5%;
    z-index: 9999;
}

.about-img {
    width: 100%;
    /* Make the image take up the full width of its container */
    height: auto;
    /* Ensure the image maintains its aspect ratio */
    max-height: 500px;
    /* Optionally, set a maximum height */
}

/* Team Section */
.card {
    margin-bottom: 30px;
}

.testimonial-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.testimonial-text {
    font-size: 1.2rem;
    font-style: italic;
}

.testimonial-author {
    font-weight: bold;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    background-color: #2b1055;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #5fe798;
    color: #2b1055;
}

