@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth ;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#17e76e,#ffffff);
}
header{
    position: absolute;
    top:0;
    Left: 0;
    width: 100%;
    padding: 30px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo{
    color:#fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
    background: #fff;
    color: #2b1055;
}
.custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    background-color: #2b1055;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #fff;
    color: #2b1055;
}
#img{
    opacity: 0.5;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before{
    content:'';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#7dca7a, transparent );
    z-index: 1000;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:120%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon{
    position: static;
    margin-top:-200px;
    width:50%;
    height:auto;
}
section img#mountains_front
{
    z-index: 10;
    width:auto;
    height:auto;
}
section img#mountains_back
{
    z-index: 0;
    width:auto;
    height:auto;
    
}
#text{
    position: absolute;
    color: #fff;
    font-size: 3.5vw;
    z-index: 9;
    right: 450px;
}
#sec{
    position: relative;
    padding: 100px;
    background:#7dca7a;
    z-index: 100;
    pointer-events: none;
}
.sec h2{
    font-size: 5.5em;
    margin-bottom: 10px;
    color: #000000;
}
.sec p{
    font-size: 1em;
    color: #000000;
}
.containter{
    background-color:linear-gradient(#17e76e,#7597de);
}
body {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

#taxServicesCarousel .carousel-caption,
#taxServicesCarousel .carousel-caption p {
    color: #000000;
}