<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simply Taxify</title>
    <link rel="icon" href="static/img/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="static\css\app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <header>
        <a href="/" class="logo">Simply Taxify</a>
        <ul>
            <li><a href="/", class="active">Home</a></li>
            <li><a href="work">Work</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="ai">AI Assistant</a></li>
        </ul>
    </header>


    <div>
        <script type='module' src='https://interfaces.zapier.com/assets/web-components/zapier-interfaces/zapier-interfaces.esm.js'></script>
        <zapier-interfaces-chatbot-embed is-popup='true' chatbot-id='clr2gyugf00182g6bm4zixygq' height='800px' width='600px'></zapier-interfaces-chatbot-embed>
    </div>

        

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="static/js/index.js"></script>
</body>

<footer class="contact bg-light py-5" id="contact">
    <div class="container text-center">
        <h2 class="mb-4">Contact Information</h2>
        <p class="mb-4">Feel free to reach out to us for any inquiries or assistance.</p>
        
        <!-- Contact Details -->
        <div class="row">
            <div class="col-md-4">
                <h4>Email</h4>
                <p>info@simplytaxify.com</p>
            </div>
            <div class="col-md-4">
                <h4>Phone</h4>
                <p>(309) 205-2282</p>
            </div>
            <div class="col-md-4">
                <h4>Address</h4>
                <p>123 Main Street, Bloomington IL</p>
            </div>
            <img src="static\img\simply-taxify.jpg" class="d-block mx-auto img-rounded" style="width: 25%">
        </div>
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook fa-2x mt-5"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
    </div>
</footer>

</html>