<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simply Taxify</title>
    <link rel="icon" href="static/img/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <a href="#" class="logo">Simply Taxify</a>
        <ul>
            <li><a href="", class="active">Home</a></li>
            <li><a href="#sec">About</a></li>
            <li><a href="work">Work</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="https://simply-taxify.zapier.app/">AI Assistant</a></li>
        </ul>
    </header>

    <section class="home" id="home">
        <img src="static/img/sun.png" id="moon">
        <img src="static/img/green_front.png" id="mountains_behind">
        <h2 id="text">Your One Stop Tax Destination</h2>
        <img src="static/img/green_back.png" id="mountains_front">
    </section>

     <div class="sec" id="sec">
        <h2 class="mb-5 text-center" data-aos="zoom-in">Tax Services</h2>

        <div id="taxServicesCarousel" class="carousel slide" data-bs-ride="carousel" data-aos="zoom-out" data-aos-offset="250" data-aos-duration="750">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#taxServicesCarousel" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#taxServicesCarousel" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#taxServicesCarousel" data-bs-slide-to="2"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active text-center">
                    <img src="static/img/virt_tax.jpg" class="d-block mx-auto rounded" style="width: 50%; height: 50%;">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Virtual Tax Preparation</h3>
                        <p>Go virtual with our virtual tax prep service.</p>
                        <p>You’ll work with a tax pro remotely from any device you want.</p>
                    </div>
                </div>

                <div class="carousel-item text-center">
                    <img src="static/img/face.jpg" class="d-block mx-auto rounded" style="width: 50%; height: 50%;">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Face-to-Face With A Tax Expert</h3>
                        <p>Sit safely across from your tax professional and enjoy in-person care.</p>
                        <p>Build a relationship that you can rely on every year.</p>
                        <p>Schedule an appointment using SMS / Text to (309) 205-2282. </p>
                    </div>
                </div>

                <div class="carousel-item text-center">
                    <img src="static\img\drop_off.jpg" class="d-block mx-auto rounded" style="width: 50%; height: 50%;">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Drop-off Your Tax Documents</h3>
                        <p>Bring everything to meet with your tax pro.</p>
                        <p>We'll handle the rest until it's time for you to review and approve your return.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="sec" id="work"></div>

    <h1 class="mt-5 mb-5 text-center" data-aos="zoom-in">Reasons to Apply</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center mb-4" data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000">
                <img src="static\img\innovation_icon.png" class="img-fluid" style="height: 75%">
                <h3 class="mt-3">Innovative Environment</h3>
                <p>Work in an innovative environment where tax law is always being pushed to its boundaries.</p>
            </div>
            <div class="col-md-4 text-center mb-4" data-aos="fade-up" data-aos-offset="350" data-aos-duration="1000">
                <img src="static\img\professional_growth_icon.png" class="img-fluid" style="height: 73%">
                <h3 class="mt-3">Professional Growth Opportunities</h3>
                <p>Take advantage of our tuition reimbursement and certification training programs.</p>
            </div>
            <div class="col-md-4 text-center mb-4" data-aos="fade-left" data-aos-offset="500" data-aos-duration="800">
                <img src="static\img\impact_icon.png" class="img-fluid" style="height: 75%">
                <h3 class="mt-3">Visible Impact</h3>
                <p>Make an impact individuals and have a positive effect on the world of taxes.</p>
            </div>
        </div>
    </div>

        <h1 class="p-5 text-center" data-aos="zoom-in">Available Positions</h1>
        
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center" data-aos="zoom-in-right" data-aos-offset="200" data-aos-duration="750">
                    <img src="static\img\tax_preparer.jpg" class="img-fluid rounded">
                    <h3 class="text-center p-3">Tax Preparer</h3>
                    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="collapse" data-bs-target="#tax-preparer-qualifications">Qualifications</button>
                    <div id="tax-preparer-qualifications" class="collapse">
                        <li class="p-2">Strong sales and marketing skills to attract new clients</li>
                        <li class="p-2">In-depth knowledge of tax laws, regulations, and procedures</li>
                        <li class="p-2">Ability to analyze financial data and identify potential tax deductions or credits</li>
                        <li class="p-2">Strong organizational skills to manage multiple client accounts simultaneously</li>
                        <li class="p-2">Excellent typing skills for efficient data entry</li>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="collapse" data-bs-target="#tax-preparer-responsibilities">Responsibilities</button>
                    <div id="tax-preparer-responsibilities" class="collapse">
                        <li class="p-2">Prepare and complete accurate tax returns for individuals and businesses</li>
                        <li class="p-2">Review financial records, such as income statements and balance sheets, to determine tax liability, if applicable</li>
                        <li class="p-2">Analyze tax regulations and stay up-to-date on changes in tax laws</li>
                        <li class="p-2">Provide tax planning advice to clients based on their financial goals and objectives</li>
                        <li class="p-2">Assist clients with tax-related questions and concerns</li>
                        <li class="p-2">Utilize tax software programs to accurately calculate and file taxes</li>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="collapse" data-bs-target="#tax-preparer-benefits">Benefits</button>
                    <div id="tax-preparer-benefits" class="collapse">
                        <p>$20.00 - $40.00 per hour</p>
                        <p>Full time</p>
                        <p>Bonus opportunities</p>
                        <p>Health Insurance</p>
                        <p>Retirement Planning</p>
                    </div>
                </div>
                <div class="col-md-4 text-center" data-aos="zoom-in-down" data-aos-offset="300" data-aos-duration="750">
                    <img src="static\img\tax_accountant.jpg" class="img-fluid rounded">
                    <h3 class="text-center p-3">Tax Accountant</h3>
                    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="collapse" data-bs-target="#accountant-qualifications">Qualifications</button>
                    <div id="accountant-qualifications" class="collapse">
                        <li class="p-2">CPA designation and/or advanced degree</li>
                        <li class="p-2">Experience in life/health, property/casualty, and/or general corporate taxation</li>
                        <li class="p-2">Possesses extensive tax knowledge to identify complex tax issues, research solutions, and develop appropriate recommendations</li>
                        <li class="p-2">Self-motivated with strong critical-thinking skills and keen attention to detail</li>
                        <li class="p-2">Able to work independently to guarantee the accurate and timely completion of tasks</li>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="collapse" data-bs-target="#accountant-responsibilities">Responsibilities</button>
                    <div id="accountant-responsibilities" class="collapse">
                        <li class="p-2">This role will focus on ensuring compliance with all aspects of income tax reporting and filings, including ASC 740, SSAP 101, the Internal Revenue Code, and state/local income tax laws and regulations</li>
                        <li class="p-2">The Tax Accountant uses best practices and knowledge of internal and external business issues to ensure timely and accurate filing of income tax returns, payment of taxes, and calculation of financial statement provisions for assigned companies</li>
                        <li class="p-2">The ideal candidate demonstrates good judgment in selecting methods and techniques for obtaining solutions to a wide range of matters varying in complexity and scope and for identifying and implementing improvements to policies and processes</li>
                        <li class="p-2">Prepares or coordinates the preparation of journal entries and account reconciliations on a timely and accurate basis</li>
                        <li class="p-2">Stays aware of changes in tax accounting laws and regulations</li>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="collapse" data-bs-target="#accountant-benefits">Benefits</button>
                    <div id="accountant-benefits" class="collapse">
                        <p>$30.00 - $40.00 per hour</p>
                        <p>Bonus opportunities</p>
                        <p>Health Insurance</p>
                        <p>Retirement Planning</p>
                    </div>
                </div>
                <div class="col-md-4 text-center" data-aos="zoom-in-left" data-aos-offset="350" data-aos-duration="500">
                    <img src="static\img\tax_advisor.jpeg" class="img-fluid rounded">
                    <h3 class="text-center p-3">Tax Advisor</h3>
                    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="collapse" data-bs-target="#advisor-qualifications">Qualifications</button>
                    <div id="advisor-qualifications" class="collapse">
                        <li class="p-2">The minimum qualifications necessary to become a CPA Tax Advisor are a background in the filing of over 30 individual 1040 tax returns for both federal and state purposes for at least two years, utilizing commercial tax preparation software</li>
                        <li class="p-2">An EA, CPA, or practicing attorney with an unrestricted certification and comprehensive tax preparation expertise plus advanced knowledge of tax regulations is required for a position at our organization</li>
                        <li class="p-2">Profound dedication to guiding clients through the intricacies of taxation reflects your unwavering commitment to service excellence</li>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="collapse" data-bs-target="#advisor-responsibilities">Responsibilities</button>
                    <div id="advisor-responsibilities" class="collapse">
                        <li class="p-2">Your role encompasses offering tax guidance, creating complete returns, performing tax computations, and handling software or product-related concerns</li>
                        <li class="p-2">You will analyze the financial records of individuals and businesses and guide them through their tax returns</li>
                        <li class="p-2">As a virtual assistant, your primary task will be to assist customers, while also keeping track of those interactions through comprehensive documentation</li>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="collapse" data-bs-target="#advisor-benefits">Benefits</button>
                    <div id="advisor-benefits" class="collapse">
                        <p>$25.00 - $40.00 per hour</p>
                        <p>Bonus opportunities</p>
                        <p>Health Insurance</p>
                        <p>Retirement Planning</p>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="p-5 text-center" data-aos="zoom-in">Work With Us</h1>
        <form method="POST" class="p-3 rounded col-md-10 mx-auto", enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="fullName" class="form-label">Full Name:</label>
                    <input name="name" type="text" class="form-control" id="fullName" minlength="6" maxlength="30" required>
                </div>

                <div class="col-md-6">
                    <label for="email" class="form-label">Email:</label>
                    <input name="email" type="email" class="form-control" id="email">
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-6">
                    <label for="phone" class="form-label">Phone #:</label>
                    <input name="phone" type="text" class="form-control" id="phone" name="phone-number" pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
                </div>

                <div class="col-md-6">
                    <label for="resume" class="form-label">Upload Resume:</label>
                    <input name="file" type="file" class="form-control" id="resume" name="resume" accept=".pdf, .doc, .docx">
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-6">
                    <label for="education" class="form-label">Highest Education Level:</label>
                    <input name="education" type="text" class="form-control" id="education" name="education" required>
                </div>

                <div class="col-md-6">
                    <label for="address" class="form-label">Address:</label>
                    <input name="address" type="text" class="form-control" id="address" name="address" required>
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-6">
                    <label for="experience" class="form-label">Years of Tax Preparation Experience:</label>
                    <input name="years" type="number" class="form-control" id="experience" name="experience" required>
                </div>

                <div class="col-md-6">
                    <label for="taxSoftware" class="form-label">Tax Software Experience:</label>
                    <input name="taxSoftware" type="text" class="form-control" id="taxSoftware" name="taxSoftware">
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-6">
                    <label for="certifications" class="form-label">Tax Certifications:</label>
                    <input name="certify" type="text" class="form-control" id="certifications" name="certifications">
                </div>

                <div class="col-md-6">
                    <label for="availability" class="form-label">Availability during Tax Season:</label>
                    <input name="availability" type="text" class="form-control" id="availability" name="availability" required>
                </div>
            </div>

            <div class="row g-3">
                <div class="col-md-12">
                    <label for="workExperience" class="form-label">Work Experience:</label>
                    <textarea name="workExperience" class="form-control" id="workExperience" name="workExperience" rows="4"></textarea>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="row mt-3 py-4">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary ml-3">Submit Application</button>
                    <a href="https://calendar.app.google/M4wru36nNh1gctCK8">
                        <button type="button" class="btn btn-primary">Book an Appointment/Interview</button>
                    </a>
                    
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="static/js/index.js"></script>
</body>

<footer class="contact bg-light py-5" id="contact">
    <div class="container text-center">
        <h2 class="mb-4">Contact Information</h2>
        <p class="mb-4">Feel free to reach out to us for any inquiries or assistance.</p>
        
        <!-- Contact Details -->
        <div class="row">
            <div class="col-md-4">
                <h4>Email</h4>
                <p>info@simplytaxify.com</p>
            </div>
            <div class="col-md-4">
                <h4>Phone</h4>
                <p>(309) 205-2282</p>
            </div>
            <div class="col-md-4">
                <h4>Address</h4>
                <p>123 Main Street, Bloomington IL</p>
            </div>
            <img src="static\img\simply-taxify.jpg" class="d-block mx-auto img-rounded" style="width: 25%">
        </div>
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook fa-2x mt-5"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
    </div>
</footer>

</html>